
.task-add-container{
  justify-content: center;
  align-items: center;
  padding: 2vh;

  background-color: gold;

}

.col, .col-1{
  background-color: gold;
}


*, .btn-primary{
  background-color: navy;
}


#main-container{
  background-color: red;
  display: flex;
}
