
.Wrapper{
  background-color: red;
}

.navbar {
  background-color: green;
  display: flex;
 
}

.navbar ul{
  display: flex;
  gap: 30px;

}

.navbar ul li{
  display: inline-block;

}

#task-list-container{
  background-color: rebeccapurple;
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
}

#task-list{
  display: block;
}

#task-list li{
  display: block;
  padding: 25px;
}



.task-add-button{
  justify-content: center;
  align-items: center;
  padding: 2vh;

}

