

.task-add-container{
  justify-content: center;
  align-items: center;
  padding: 2vh;
  background-color: gold;

  border-radius: 10px;



}

#task-add-button, #task-add-input{
  background-color: gold;
  
}


*, .btn-primary{
  background-color: navy;
}


#main-container{
  background-color: red;
  
  
}

#main-row{
  background-color: green;
  display: flex;
  
}